%section.page-section
  .page-section__header
    %h1.t-h1 Edit Experiment
  = form_for experiment, url: content_path(experiment), :as => :content, html: { class: 'snazzy-form' } do |f|
    .snazzy-form__field
      = f.label :title
      = f.text_field :title, :required => true
    .snazzy-form__field
      = f.label :slug
      = f.text_field :slug, :required => true
    .snazzy-form__field
      = f.label :preview
      = f.text_area :preview
    .snazzy-form__field.snazzy-form__actions
      = button_tag 'Save', :class => 'button button--primary'
